SlvHanbai/SlvHanbaiClient/Service References/svcPurchase/svcPurchase1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcPurchase.svc?xsd=xsd0" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcPurchase.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcPurchase.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="svcPurchase_GetPurchaseH_InputMessage">
    <wsdl:part name="parameters" element="GetPurchaseH" />
  </wsdl:message>
  <wsdl:message name="svcPurchase_GetPurchaseH_OutputMessage">
    <wsdl:part name="parameters" element="GetPurchaseHResponse" />
  </wsdl:message>
  <wsdl:message name="svcPurchase_GetPurchaseListD_InputMessage">
    <wsdl:part name="parameters" element="GetPurchaseListD" />
  </wsdl:message>
  <wsdl:message name="svcPurchase_GetPurchaseListD_OutputMessage">
    <wsdl:part name="parameters" element="GetPurchaseListDResponse" />
  </wsdl:message>
  <wsdl:message name="svcPurchase_GetPurchaseList_InputMessage">
    <wsdl:part name="parameters" element="GetPurchaseList" />
  </wsdl:message>
  <wsdl:message name="svcPurchase_GetPurchaseList_OutputMessage">
    <wsdl:part name="parameters" element="GetPurchaseListResponse" />
  </wsdl:message>
  <wsdl:message name="svcPurchase_UpdatePurchase_InputMessage">
    <wsdl:part name="parameters" element="UpdatePurchase" />
  </wsdl:message>
  <wsdl:message name="svcPurchase_UpdatePurchase_OutputMessage">
    <wsdl:part name="parameters" element="UpdatePurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="svcPurchase_UpdatePurchasePrint_InputMessage">
    <wsdl:part name="parameters" element="UpdatePurchasePrint" />
  </wsdl:message>
  <wsdl:message name="svcPurchase_UpdatePurchasePrint_OutputMessage">
    <wsdl:part name="parameters" element="UpdatePurchasePrintResponse" />
  </wsdl:message>
  <wsdl:portType name="svcPurchase">
    <wsdl:operation name="GetPurchaseH">
      <wsdl:input wsaw:Action="urn:svcPurchase/GetPurchaseH" message="svcPurchase_GetPurchaseH_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcPurchase/GetPurchaseHResponse" message="svcPurchase_GetPurchaseH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseListD">
      <wsdl:input wsaw:Action="urn:svcPurchase/GetPurchaseListD" message="svcPurchase_GetPurchaseListD_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcPurchase/GetPurchaseListDResponse" message="svcPurchase_GetPurchaseListD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseList">
      <wsdl:input wsaw:Action="urn:svcPurchase/GetPurchaseList" message="svcPurchase_GetPurchaseList_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcPurchase/GetPurchaseListResponse" message="svcPurchase_GetPurchaseList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchase">
      <wsdl:input wsaw:Action="urn:svcPurchase/UpdatePurchase" message="svcPurchase_UpdatePurchase_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcPurchase/UpdatePurchaseResponse" message="svcPurchase_UpdatePurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePurchasePrint">
      <wsdl:input wsaw:Action="urn:svcPurchase/UpdatePurchasePrint" message="svcPurchase_UpdatePurchasePrint_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcPurchase/UpdatePurchasePrintResponse" message="svcPurchase_UpdatePurchasePrint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>