SlvHanbai/SlvHanbaiClient/Service References/svcInvoiceClose/svcInvoiceClose2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcInvoiceClose.svc?xsd=xsd0" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcInvoiceClose.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcInvoiceClose.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="svcInvoiceClose_GetInvoiceTotal_InputMessage">
    <wsdl:part name="parameters" element="GetInvoiceTotal" />
  </wsdl:message>
  <wsdl:message name="svcInvoiceClose_GetInvoiceTotal_OutputMessage">
    <wsdl:part name="parameters" element="GetInvoiceTotalResponse" />
  </wsdl:message>
  <wsdl:message name="svcInvoiceClose_GetInvoiceList_InputMessage">
    <wsdl:part name="parameters" element="GetInvoiceList" />
  </wsdl:message>
  <wsdl:message name="svcInvoiceClose_GetInvoiceList_OutputMessage">
    <wsdl:part name="parameters" element="GetInvoiceListResponse" />
  </wsdl:message>
  <wsdl:message name="svcInvoiceClose_GetPaymentCashIn_InputMessage">
    <wsdl:part name="parameters" element="GetPaymentCashIn" />
  </wsdl:message>
  <wsdl:message name="svcInvoiceClose_GetPaymentCashIn_OutputMessage">
    <wsdl:part name="parameters" element="GetPaymentCashInResponse" />
  </wsdl:message>
  <wsdl:message name="svcInvoiceClose_UpdateInvoice_InputMessage">
    <wsdl:part name="parameters" element="UpdateInvoice" />
  </wsdl:message>
  <wsdl:message name="svcInvoiceClose_UpdateInvoice_OutputMessage">
    <wsdl:part name="parameters" element="UpdateInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="svcInvoiceClose_UpdateInvoicePrint_InputMessage">
    <wsdl:part name="parameters" element="UpdateInvoicePrint" />
  </wsdl:message>
  <wsdl:message name="svcInvoiceClose_UpdateInvoicePrint_OutputMessage">
    <wsdl:part name="parameters" element="UpdateInvoicePrintResponse" />
  </wsdl:message>
  <wsdl:portType name="svcInvoiceClose">
    <wsdl:operation name="GetInvoiceTotal">
      <wsdl:input wsaw:Action="urn:svcInvoiceClose/GetInvoiceTotal" message="svcInvoiceClose_GetInvoiceTotal_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcInvoiceClose/GetInvoiceTotalResponse" message="svcInvoiceClose_GetInvoiceTotal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceList">
      <wsdl:input wsaw:Action="urn:svcInvoiceClose/GetInvoiceList" message="svcInvoiceClose_GetInvoiceList_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcInvoiceClose/GetInvoiceListResponse" message="svcInvoiceClose_GetInvoiceList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentCashIn">
      <wsdl:input wsaw:Action="urn:svcInvoiceClose/GetPaymentCashIn" message="svcInvoiceClose_GetPaymentCashIn_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcInvoiceClose/GetPaymentCashInResponse" message="svcInvoiceClose_GetPaymentCashIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInvoice">
      <wsdl:input wsaw:Action="urn:svcInvoiceClose/UpdateInvoice" message="svcInvoiceClose_UpdateInvoice_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcInvoiceClose/UpdateInvoiceResponse" message="svcInvoiceClose_UpdateInvoice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateInvoicePrint">
      <wsdl:input wsaw:Action="urn:svcInvoiceClose/UpdateInvoicePrint" message="svcInvoiceClose_UpdateInvoicePrint_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcInvoiceClose/UpdateInvoicePrintResponse" message="svcInvoiceClose_UpdateInvoicePrint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>