SlvHanbai/SlvHanbaiClient/Service References/svcSalesCreditBalance/svcSalesCreditBalance2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntitySalesCreditBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntitySalesCreditBalance" nillable="true" type="tns:EntitySalesCreditBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntitySalesCreditBalance" nillable="true" type="tns:ArrayOfEntitySalesCreditBalance" />
  <xs:complexType name="EntitySalesCreditBalance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_before_sales_credit_balacne" type="xs:double" />
          <xs:element minOccurs="0" name="_before_sales_credit_balacne_upd" type="xs:double" />
          <xs:element minOccurs="0" name="_exec_flg" type="xs:boolean" />
          <xs:element minOccurs="0" name="_invoice_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_invoice_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_lock_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_memo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_rec_no" type="xs:long" />
          <xs:element minOccurs="0" name="_this_receipt_percent" type="xs:double" />
          <xs:element minOccurs="0" name="_this_receipt_price" type="xs:double" />
          <xs:element minOccurs="0" name="_this_sales_credit_balance" type="xs:double" />
          <xs:element minOccurs="0" name="_this_sales_credit_price" type="xs:double" />
          <xs:element minOccurs="0" name="_this_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_ym" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntitySalesCreditBalance" nillable="true" type="tns:EntitySalesCreditBalance" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>