SlvHanbai/SlvHanbaiClient/Service References/svcSysName/svcSysName2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcSysName.svc?xsd=xsd0" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcSysName.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcSysName.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="svcSysName_GetNameList_InputMessage">
    <wsdl:part name="parameters" element="GetNameList" />
  </wsdl:message>
  <wsdl:message name="svcSysName_GetNameList_OutputMessage">
    <wsdl:part name="parameters" element="GetNameListResponse" />
  </wsdl:message>
  <wsdl:message name="svcSysName_GetNameListAll_InputMessage">
    <wsdl:part name="parameters" element="GetNameListAll" />
  </wsdl:message>
  <wsdl:message name="svcSysName_GetNameListAll_OutputMessage">
    <wsdl:part name="parameters" element="GetNameListAllResponse" />
  </wsdl:message>
  <wsdl:portType name="svcSysName">
    <wsdl:operation name="GetNameList">
      <wsdl:input wsaw:Action="urn:svcSysName/GetNameList" message="svcSysName_GetNameList_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcSysName/GetNameListResponse" message="svcSysName_GetNameList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNameListAll">
      <wsdl:input wsaw:Action="urn:svcSysName/GetNameListAll" message="svcSysName_GetNameListAll_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcSysName/GetNameListAllResponse" message="svcSysName_GetNameListAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>