SlvHanbai/SlvHanbaiClient/Service References/svcSysName/svcSysName32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntityName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityName" nillable="true" type="tns:EntityName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityName" nillable="true" type="tns:ArrayOfEntityName" />
  <xs:complexType name="EntityName">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="division_id" type="xs:int" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityName" nillable="true" type="tns:EntityName" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>