SlvHanbai/SlvHanbaiClient/Service References/svcSysName/svcSysName3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcSysName.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
  <xs:element name="GetNameList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="divisionIDFrom" type="xs:int" />
        <xs:element minOccurs="0" name="divisionIDTo" type="xs:int" />
        <xs:element minOccurs="0" name="idFrom" type="xs:int" />
        <xs:element minOccurs="0" name="idTo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="GetNameListResult" nillable="true" type="q1:ArrayOfEntityName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameListAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNameListAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="GetNameListAllResult" nillable="true" type="q2:ArrayOfEntityName" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>