SlvHanbai/SlvHanbaiClient/Service References/svcCompany/svcCompany.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityCompany">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_adress1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_adress2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_adress_city" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_adress_town" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_cash_payment_cnt" type="xs:long" />
          <xs:element minOccurs="0" name="_cash_payment_no" type="xs:long" />
          <xs:element minOccurs="0" name="_cash_payment_ymd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_city_id" type="xs:int" />
          <xs:element minOccurs="0" name="_estimate_cnt" type="xs:long" />
          <xs:element minOccurs="0" name="_estimate_no" type="xs:long" />
          <xs:element minOccurs="0" name="_estimate_ymd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_group_display_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_id_figure_commodity" type="xs:int" />
          <xs:element minOccurs="0" name="_id_figure_customer" type="xs:int" />
          <xs:element minOccurs="0" name="_id_figure_purchase" type="xs:int" />
          <xs:element minOccurs="0" name="_id_figure_slip_no" type="xs:int" />
          <xs:element minOccurs="0" name="_kana" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_lock_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_mail_adress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_memo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_mobile_adress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_mobile_tel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_order_cnt" type="xs:long" />
          <xs:element minOccurs="0" name="_order_no" type="xs:long" />
          <xs:element minOccurs="0" name="_order_ymd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_prefecture_id" type="xs:int" />
          <xs:element minOccurs="0" name="_produce_cnt" type="xs:long" />
          <xs:element minOccurs="0" name="_produce_no" type="xs:long" />
          <xs:element minOccurs="0" name="_produce_ymd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_cnt" type="xs:long" />
          <xs:element minOccurs="0" name="_purchase_no" type="xs:long" />
          <xs:element minOccurs="0" name="_purchase_order_cnt" type="xs:long" />
          <xs:element minOccurs="0" name="_purchase_order_no" type="xs:long" />
          <xs:element minOccurs="0" name="_purchase_order_ymd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_ymd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_receipt_cnt" type="xs:long" />
          <xs:element minOccurs="0" name="_receipt_no" type="xs:long" />
          <xs:element minOccurs="0" name="_receipt_ymd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_sales_cnt" type="xs:long" />
          <xs:element minOccurs="0" name="_sales_no" type="xs:long" />
          <xs:element minOccurs="0" name="_sales_ymd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_ship_cnt" type="xs:long" />
          <xs:element minOccurs="0" name="_ship_no" type="xs:long" />
          <xs:element minOccurs="0" name="_ship_ymd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_tel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_town_id" type="xs:int" />
          <xs:element minOccurs="0" name="_url" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_zip_code_from" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_zip_code_to" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityCompany" nillable="true" type="tns:EntityCompany" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>