SlvHanbai/SlvHanbaiClient/Service References/svcPaymentClose/svcPaymentClose.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityPaymentClosePrm">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_payment_plan_yyyymmdd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_yyyymmdd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_summing_up_day" type="xs:int" />
          <xs:element minOccurs="0" name="_summing_up_group_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_summing_up_group_nm" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityPaymentClosePrm" nillable="true" type="tns:EntityPaymentClosePrm" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
  <xs:complexType name="ArrayOfEntityPaymentClose">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityPaymentClose" nillable="true" type="tns:EntityPaymentClose" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityPaymentClose" nillable="true" type="tns:ArrayOfEntityPaymentClose" />
  <xs:complexType name="EntityPaymentClose">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_before_payment_price" type="xs:double" />
          <xs:element minOccurs="0" name="_before_payment_price_upd" type="xs:double" />
          <xs:element minOccurs="0" name="_before_payment_yyyymmdd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_exec_flg" type="xs:boolean" />
          <xs:element minOccurs="0" name="_lock_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_memo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_no" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_no_tax_purchase_price" type="xs:double" />
          <xs:element minOccurs="0" name="_out_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_payment_cash_price" type="xs:double" />
          <xs:element minOccurs="0" name="_payment_cash_receivable_kbn" type="xs:int" />
          <xs:element minOccurs="0" name="_payment_cash_receivable_kbn_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_close_yyyymmdd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_cycle_id" type="xs:int" />
          <xs:element minOccurs="0" name="_payment_day" type="xs:int" />
          <xs:element minOccurs="0" name="_payment_exists_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_payment_kbn" type="xs:int" />
          <xs:element minOccurs="0" name="_payment_kbn_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_plan_day" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_price" type="xs:double" />
          <xs:element minOccurs="0" name="_payment_print_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_payment_print_flg_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_zan_price" type="xs:double" />
          <xs:element minOccurs="0" name="_person_id" type="xs:int" />
          <xs:element minOccurs="0" name="_person_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_price" type="xs:double" />
          <xs:element minOccurs="0" name="_summing_up_day" type="xs:int" />
          <xs:element minOccurs="0" name="_summing_up_group_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_summing_up_group_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_this_payment_cash_price" type="xs:double" />
          <xs:element minOccurs="0" name="_transfer_price" type="xs:double" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityPaymentClose" nillable="true" type="tns:EntityPaymentClose" />
  <xs:complexType name="EntityPaymentCashOut">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_before_payment_cash_price" type="xs:double" />
          <xs:element minOccurs="0" name="_credit_price" type="xs:double" />
          <xs:element minOccurs="0" name="_exec_flg" type="xs:boolean" />
          <xs:element minOccurs="0" name="_lock_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_memo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_no" type="xs:long" />
          <xs:element minOccurs="0" name="_payment_close_yyyymmdd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_division_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_division_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_exists_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_payment_kbn" type="xs:int" />
          <xs:element minOccurs="0" name="_payment_kbn_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_plan_day" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_price" type="xs:double" />
          <xs:element minOccurs="0" name="_purchase_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_summing_up_group_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_summing_up_group_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityPaymentCashOut" nillable="true" type="tns:EntityPaymentCashOut" />
</xs:schema>