SlvHanbai/SlvHanbaiClient/Service References/svcReport/svcReport2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcReport.svc?xsd=xsd0" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcReport.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcReport.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="svcReport_ReportOut_InputMessage">
    <wsdl:part name="parameters" element="ReportOut" />
  </wsdl:message>
  <wsdl:message name="svcReport_ReportOut_OutputMessage">
    <wsdl:part name="parameters" element="ReportOutResponse" />
  </wsdl:message>
  <wsdl:message name="svcReport_GetReportSetting_InputMessage">
    <wsdl:part name="parameters" element="GetReportSetting" />
  </wsdl:message>
  <wsdl:message name="svcReport_GetReportSetting_OutputMessage">
    <wsdl:part name="parameters" element="GetReportSettingResponse" />
  </wsdl:message>
  <wsdl:message name="svcReport_UpdateReportSetting_InputMessage">
    <wsdl:part name="parameters" element="UpdateReportSetting" />
  </wsdl:message>
  <wsdl:message name="svcReport_UpdateReportSetting_OutputMessage">
    <wsdl:part name="parameters" element="UpdateReportSettingResponse" />
  </wsdl:message>
  <wsdl:portType name="svcReport">
    <wsdl:operation name="ReportOut">
      <wsdl:input wsaw:Action="urn:svcReport/ReportOut" message="svcReport_ReportOut_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcReport/ReportOutResponse" message="svcReport_ReportOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReportSetting">
      <wsdl:input wsaw:Action="urn:svcReport/GetReportSetting" message="svcReport_GetReportSetting_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcReport/GetReportSettingResponse" message="svcReport_GetReportSetting_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReportSetting">
      <wsdl:input wsaw:Action="urn:svcReport/UpdateReportSetting" message="svcReport_UpdateReportSetting_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcReport/UpdateReportSettingResponse" message="svcReport_UpdateReportSetting_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>