SlvHanbai/SlvHanbaiClient/Service References/svcClass/svcClass32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcClass.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
  <xs:element name="GetClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classKbn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="GetClassResult" nillable="true" type="q1:ArrayOfEntityClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChkClassExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="classKbn" type="xs:int" />
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChkClassExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChkClassExistResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="entity" nillable="true" type="q2:ArrayOfEntityClass" />
        <xs:element minOccurs="0" name="classKbn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>