SlvHanbai/SlvHanbaiClient/Service References/svcClass/svcClass31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntityClass">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityClass" nillable="true" type="tns:EntityClass" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityClass" nillable="true" type="tns:ArrayOfEntityClass" />
  <xs:complexType name="EntityClass">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_class_divition_id" type="xs:int" />
          <xs:element minOccurs="0" name="_display_division_id" type="xs:int" />
          <xs:element minOccurs="0" name="_display_division_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_lock_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_memo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_rec_no" type="xs:int" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityClass" nillable="true" type="tns:EntityClass" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>