SlvHanbai/SlvHanbaiClient/Service References/svcPaymentCreditBalance/svcPaymentCreditBalance1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntityPaymentCreditBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityPaymentCreditBalance" nillable="true" type="tns:EntityPaymentCreditBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityPaymentCreditBalance" nillable="true" type="tns:ArrayOfEntityPaymentCreditBalance" />
  <xs:complexType name="EntityPaymentCreditBalance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_before_payment_credit_balacne" type="xs:double" />
          <xs:element minOccurs="0" name="_before_payment_credit_balacne_upd" type="xs:double" />
          <xs:element minOccurs="0" name="_exec_flg" type="xs:boolean" />
          <xs:element minOccurs="0" name="_lock_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_memo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_purchase_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_rec_no" type="xs:long" />
          <xs:element minOccurs="0" name="_this_payment_cash_percent" type="xs:double" />
          <xs:element minOccurs="0" name="_this_payment_cash_price" type="xs:double" />
          <xs:element minOccurs="0" name="_this_payment_credit_balance" type="xs:double" />
          <xs:element minOccurs="0" name="_this_purchase_price" type="xs:double" />
          <xs:element minOccurs="0" name="_this_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_ym" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityPaymentCreditBalance" nillable="true" type="tns:EntityPaymentCreditBalance" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>