SlvHanbai/SlvHanbaiClient/Service References/svcUser/svcUser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcUser.svc?xsd=xsd0" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcUser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcUser.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="svcUser_GetUser_InputMessage">
    <wsdl:part name="parameters" element="GetUser" />
  </wsdl:message>
  <wsdl:message name="svcUser_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="svcUser_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="UpdateUser" />
  </wsdl:message>
  <wsdl:message name="svcUser_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="UpdateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="svcUser">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="urn:svcUser/GetUser" message="svcUser_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcUser/GetUserResponse" message="svcUser_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="urn:svcUser/UpdateUser" message="svcUser_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcUser/UpdateUserResponse" message="svcUser_UpdateUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>