SlvHanbai/SlvHanbaiClient/Service References/svcCopying/svcCopying32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityCopying">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_is_exists_data" type="xs:boolean" />
          <xs:element minOccurs="0" name="_is_lock_success" type="xs:boolean" />
          <xs:element minOccurs="0" name="_message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_ret" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityCopying" nillable="true" type="tns:EntityCopying" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>