SlvHanbai/SlvHanbaiClient/Service References/svcStockInventory/svcStockInventory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcStockInventory.svc?xsd=xsd0" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcStockInventory.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcStockInventory.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="svcStockInventory_GetStockInventoryList_InputMessage">
    <wsdl:part name="parameters" element="GetStockInventoryList" />
  </wsdl:message>
  <wsdl:message name="svcStockInventory_GetStockInventoryList_OutputMessage">
    <wsdl:part name="parameters" element="GetStockInventoryListResponse" />
  </wsdl:message>
  <wsdl:message name="svcStockInventory_UpdateStockInventory_InputMessage">
    <wsdl:part name="parameters" element="UpdateStockInventory" />
  </wsdl:message>
  <wsdl:message name="svcStockInventory_UpdateStockInventory_OutputMessage">
    <wsdl:part name="parameters" element="UpdateStockInventoryResponse" />
  </wsdl:message>
  <wsdl:portType name="svcStockInventory">
    <wsdl:operation name="GetStockInventoryList">
      <wsdl:input wsaw:Action="urn:svcStockInventory/GetStockInventoryList" message="svcStockInventory_GetStockInventoryList_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcStockInventory/GetStockInventoryListResponse" message="svcStockInventory_GetStockInventoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStockInventory">
      <wsdl:input wsaw:Action="urn:svcStockInventory/UpdateStockInventory" message="svcStockInventory_UpdateStockInventory_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcStockInventory/UpdateStockInventoryResponse" message="svcStockInventory_UpdateStockInventory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>