SlvHanbai/SlvHanbaiClient/Service References/svcStockInventory/svcStockInventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntityStockInventory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityStockInventory" nillable="true" type="tns:EntityStockInventory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityStockInventory" nillable="true" type="tns:ArrayOfEntityStockInventory" />
  <xs:complexType name="EntityStockInventory">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_account_inventory_number" type="xs:double" />
          <xs:element minOccurs="0" name="_commodity_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_commodity_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_diff_number" type="xs:double" />
          <xs:element minOccurs="0" name="_exec_flg" type="xs:boolean" />
          <xs:element minOccurs="0" name="_lock_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_memo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_payment_exists_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_practice_inventory_number" type="xs:double" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityStockInventory" nillable="true" type="tns:EntityStockInventory" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>