SlvHanbai/SlvHanbaiClient/Service References/svcCommodity/svcCommodity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EntityCommodity">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_display_division_id" type="xs:int" />
          <xs:element minOccurs="0" name="_display_division_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_enter_number" type="xs:double" />
          <xs:element minOccurs="0" name="_group1_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_group1_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_group2_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_group2_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_group3_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_group3_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_inventory_evaluation_id" type="xs:int" />
          <xs:element minOccurs="0" name="_inventory_evaluation_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_inventory_management_division_id" type="xs:int" />
          <xs:element minOccurs="0" name="_inventory_management_division_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_inventory_number" type="xs:double" />
          <xs:element minOccurs="0" name="_just_inventory_number" type="xs:double" />
          <xs:element minOccurs="0" name="_kana" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_lead_time" type="xs:int" />
          <xs:element minOccurs="0" name="_lock_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_main_purchase_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_main_purchase_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_memo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_number_decimal_digit" type="xs:int" />
          <xs:element minOccurs="0" name="_purchase_lot" type="xs:double" />
          <xs:element minOccurs="0" name="_purchase_unit_price_before_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_purchase_unit_price_skip_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_retail_price_before_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_retail_price_skip_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_sales_cost_price_before_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_sales_cost_price_skip_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_sales_unit_price_before_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_sales_unit_price_skip_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_taxation_divition_id" type="xs:int" />
          <xs:element minOccurs="0" name="_taxation_divition_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_unit_decimal_digit" type="xs:int" />
          <xs:element minOccurs="0" name="_unit_id" type="xs:int" />
          <xs:element minOccurs="0" name="_unit_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityCommodity" nillable="true" type="tns:EntityCommodity" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>