SlvHanbai/SlvHanbaiClient/Service References/svcInvoiceBalance/svcInvoiceBalance.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcInvoiceBalance.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
  <xs:element name="GetInvoiceBalanceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhereSql" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOrderBySql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceBalanceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="GetInvoiceBalanceListResult" nillable="true" type="q1:ArrayOfEntityInvoiceBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="entity" nillable="true" type="q2:ArrayOfEntityInvoiceBalance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInvoiceBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInvoiceBalanceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>