SlvHanbai/SlvHanbaiClient/Service References/svcInvoiceBalance/svcInvoiceBalance2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntityInvoiceBalance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityInvoiceBalance" nillable="true" type="tns:EntityInvoiceBalance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntityInvoiceBalance" nillable="true" type="tns:ArrayOfEntityInvoiceBalance" />
  <xs:complexType name="EntityInvoiceBalance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="_before_invoice_price" type="xs:double" />
          <xs:element minOccurs="0" name="_before_invoice_price_upd" type="xs:double" />
          <xs:element minOccurs="0" name="_before_invoice_yyyymmdd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_collect_cycle_id" type="xs:int" />
          <xs:element minOccurs="0" name="_collect_day" type="xs:int" />
          <xs:element minOccurs="0" name="_collect_plan_day" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_exec_flg" type="xs:boolean" />
          <xs:element minOccurs="0" name="_invoice_exists_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_invoice_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_invoice_kbn" type="xs:int" />
          <xs:element minOccurs="0" name="_invoice_kbn_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_invoice_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_invoice_price" type="xs:double" />
          <xs:element minOccurs="0" name="_invoice_print_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_invoice_print_flg_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_invoice_yyyymmdd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_invoice_zan_price" type="xs:double" />
          <xs:element minOccurs="0" name="_lock_flg" type="xs:int" />
          <xs:element minOccurs="0" name="_memo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_no" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_no_tax_sales_price" type="xs:double" />
          <xs:element minOccurs="0" name="_out_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_person_id" type="xs:int" />
          <xs:element minOccurs="0" name="_person_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_receipt_price" type="xs:double" />
          <xs:element minOccurs="0" name="_receipt_receivable_kbn" type="xs:int" />
          <xs:element minOccurs="0" name="_receipt_receivable_kbn_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_sales_price" type="xs:double" />
          <xs:element minOccurs="0" name="_summing_up_day" type="xs:int" />
          <xs:element minOccurs="0" name="_summing_up_group_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_summing_up_group_nm" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_tax" type="xs:double" />
          <xs:element minOccurs="0" name="_this_receipt_price" type="xs:double" />
          <xs:element minOccurs="0" name="_transfer_price" type="xs:double" />
          <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityInvoiceBalance" nillable="true" type="tns:EntityInvoiceBalance" />
  <xs:complexType name="EntityBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="EntityBase" nillable="true" type="tns:EntityBase" />
</xs:schema>