SlvHanbai/SlvHanbaiClient/Service References/svcSysLogin/svcSysLogin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://system-innovation.biz/SlvHanbai_demo/WebService/svcSysLogin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="confirmFlg" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="LoginResult" nillable="true" type="q1:EntitySysLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logoff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoffResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>