SlvHanbai/SlvHanbaiClient/Service References/svcCondition/svcCondition31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcCondition.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
  <xs:element name="GetCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="GetConditionResult" nillable="true" type="q1:ArrayOfEntityCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="entity" nillable="true" type="q2:ArrayOfEntityCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateConditionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>