SlvHanbai/SlvHanbaiClient/Service References/svcInOutDelivery/svcInOutDelivery.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcInOutDelivery.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
  <xs:element name="GetInOutDeliveryH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDFrom" type="xs:long" />
        <xs:element minOccurs="0" name="IDTo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInOutDeliveryHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="GetInOutDeliveryHResult" nillable="true" type="q1:EntityInOutDeliveryH" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInOutDeliveryListD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IDFrom" type="xs:long" />
        <xs:element minOccurs="0" name="IDTo" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInOutDeliveryListDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="GetInOutDeliveryListDResult" nillable="true" type="q2:ArrayOfEntityInOutDeliveryD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInOutDeliveryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWhereSql" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOrderBySql" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInOutDeliveryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="GetInOutDeliveryListResult" nillable="true" type="q3:ArrayOfEntityInOutDelivery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInOutDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="random" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="InOutDeliveryNo" type="xs:long" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="entityH" nillable="true" type="q4:EntityInOutDeliveryH" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="entityD" nillable="true" type="q5:ArrayOfEntityInOutDeliveryD" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="before_entityH" nillable="true" type="q6:EntityInOutDeliveryH" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" minOccurs="0" name="before_entityD" nillable="true" type="q7:ArrayOfEntityInOutDeliveryD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInOutDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateInOutDeliveryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>