SlvHanbai/SlvHanbaiClient/Service References/svcSales/svcSales21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcSales.svc?xsd=xsd0" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcSales.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://system-innovation.biz/SlvHanbai/WebService/svcSales.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SlvHanbai.Web.Class.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="svcSales_GetSalesH_InputMessage">
    <wsdl:part name="parameters" element="GetSalesH" />
  </wsdl:message>
  <wsdl:message name="svcSales_GetSalesH_OutputMessage">
    <wsdl:part name="parameters" element="GetSalesHResponse" />
  </wsdl:message>
  <wsdl:message name="svcSales_GetSalesListD_InputMessage">
    <wsdl:part name="parameters" element="GetSalesListD" />
  </wsdl:message>
  <wsdl:message name="svcSales_GetSalesListD_OutputMessage">
    <wsdl:part name="parameters" element="GetSalesListDResponse" />
  </wsdl:message>
  <wsdl:message name="svcSales_GetSalesList_InputMessage">
    <wsdl:part name="parameters" element="GetSalesList" />
  </wsdl:message>
  <wsdl:message name="svcSales_GetSalesList_OutputMessage">
    <wsdl:part name="parameters" element="GetSalesListResponse" />
  </wsdl:message>
  <wsdl:message name="svcSales_UpdateSales_InputMessage">
    <wsdl:part name="parameters" element="UpdateSales" />
  </wsdl:message>
  <wsdl:message name="svcSales_UpdateSales_OutputMessage">
    <wsdl:part name="parameters" element="UpdateSalesResponse" />
  </wsdl:message>
  <wsdl:message name="svcSales_UpdateSalesPrint_InputMessage">
    <wsdl:part name="parameters" element="UpdateSalesPrint" />
  </wsdl:message>
  <wsdl:message name="svcSales_UpdateSalesPrint_OutputMessage">
    <wsdl:part name="parameters" element="UpdateSalesPrintResponse" />
  </wsdl:message>
  <wsdl:portType name="svcSales">
    <wsdl:operation name="GetSalesH">
      <wsdl:input wsaw:Action="urn:svcSales/GetSalesH" message="svcSales_GetSalesH_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcSales/GetSalesHResponse" message="svcSales_GetSalesH_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesListD">
      <wsdl:input wsaw:Action="urn:svcSales/GetSalesListD" message="svcSales_GetSalesListD_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcSales/GetSalesListDResponse" message="svcSales_GetSalesListD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSalesList">
      <wsdl:input wsaw:Action="urn:svcSales/GetSalesList" message="svcSales_GetSalesList_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcSales/GetSalesListResponse" message="svcSales_GetSalesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSales">
      <wsdl:input wsaw:Action="urn:svcSales/UpdateSales" message="svcSales_UpdateSales_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcSales/UpdateSalesResponse" message="svcSales_UpdateSales_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSalesPrint">
      <wsdl:input wsaw:Action="urn:svcSales/UpdateSalesPrint" message="svcSales_UpdateSalesPrint_InputMessage" />
      <wsdl:output wsaw:Action="urn:svcSales/UpdateSalesPrintResponse" message="svcSales_UpdateSalesPrint_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>